* {
    padding: 0;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

/* ---------- The scoreboard ---------------------------------------------- */
header {
    height: 70px;
    width: 110px;
    margin: 10px auto;
}

#two_points {
    height: 70px;
    width: 30px;
    float: left;
}

#point_up {
    height: 10px;
    width: 10px;
    margin: 20px 10px 10px 10px;
    float: left;
    background-color: #00CC00;
}

#point_bottom {
    height: 10px;
    width: 10px;
    margin: 0  10px 10px 10px;
    float: left;
    background-color: #00CC00;
}

.scoreboard {
    height: 70px;
    width: 40px;
    float: left;
}

#scoreboard_left_up, #scoreboard_right_up {
    width: 20px;
    height: 20px;
    border-width: 10px 10px 5px 10px;
    border-style: solid;
}
#scoreboard_left_bottom, #scoreboard_right_bottom {
    width: 20px;
    height: 20px;
    border-width: 5px 10px 10px 10px;
    border-style: solid;
}
/*            (like a clock)  top,        right,      bottom,     left        */
.zero_up      { border-color: #00CC00     #00CC00     transparent #00CC00     ;}
.zero_bottom  { border-color: transparent #00CC00     #00CC00     #00CC00     ;}
.one_up       { border-color: transparent #00CC00     transparent transparent ;}
.one_bottom   { border-color: transparent #00CC00     transparent transparent ;}
.two_up       { border-color: #00CC00     #00CC00     #00CC00     transparent ;}
.two_bottom   { border-color: #00CC00     transparent #00CC00     #00CC00     ;}
.three_up     { border-color: #00CC00     #00CC00     #00CC00     transparent ;}
.three_bottom { border-color: #00CC00     #00CC00     #00CC00     transparent ;}
.four_up      { border-color: transparent #00CC00     #00CC00     #00CC00     ;}
.four_bottom  { border-color: #00CC00     #00CC00     transparent transparent ;}
.five_up      { border-color: #00CC00     transparent #00CC00     #00CC00     ;}
.five_bottom  { border-color: #00CC00     #00CC00     #00CC00     transparent ;}
.six_up       { border-color: transparent transparent #00CC00     #00CC00     ;}
.six_bottom   { border-color: #00CC00     #00CC00     #00CC00     #00CC00     ;}
.seven_up     { border-color: #00CC00     #00CC00     transparent transparent ;}
.seven_bottom { border-color: transparent #00CC00     transparent transparent ;}
.eight_up     { border-color: #00CC00     #00CC00     #00CC00     #00CC00     ;}
.eight_bottom { border-color: #00CC00     #00CC00     #00CC00     #00CC00     ;}
.nine_up      { border-color: #00CC00     #00CC00     #00CC00     #00CC00     ;}
.nine_bottom  { border-color: #00CC00     #00CC00     transparent transparent ;}

/* ---------- The court --------------------------------------------------- */
main {
    margin: 10px auto;
    border-style: solid;
    border-color: #00CC00 transparent;
    border-width: 10px 0;
    height: 600px;
    width: 800px;
}
/*
canvas {
    // DO NOT UNCOMMENT THIS RULE
    // It is mandatory to put the dimensions of the canvas here.
    // If they are put in the .CSS "weird things happen"
    width: 800px;
    height: 600px;
}
*/

/* ---------- The footer -------------------------------------------------- */
footer {
    width: 100%;
    font-family: Courier New, Courier, Lucida Typewriter, monospace;
    font-weight: bold;
    color: #00CC00;
    line-height: 1.2em;
    text-align: center;
}
