* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-weight: normal;
    color: aliceblue;
    line-height: 1.2em;
    background-color: #05155f;
}

header {
    height: 70px;
    width: 110px;
    margin: 0 auto;
}

#two_points {
    height: 70px;
    width: 30px;
    float: left;
}

#point_up{
    height: 10px;
    width: 10px;
    margin: 20px 10px 10px 10px;
    float: left;
    background-color: aliceblue;
}

#point_down {
    height: 10px;
    width: 10px;
    margin: 0  10px 10px 10px;
    float: left;
    background-color: aliceblue;
}

.score {
    height: 70px;
    width: 40px;
    float: left;
}

#score_left {

}

#score_right {
    
}

.number_up {
    width: 20px;
    height: 20px;
    border-width: 10px 10px 5px 10px;
               /* top, right, bottom, left (like a clock)*/      
    border-style: solid;
}

.number_down {
    width: 20px;
    height: 20px;
    border-width: 5px 10px 10px 10px;
               /* top, right, bottom, left (like a clock)*/      
    border-style: solid;
}

.zero_up {
    border-top-color: aliceblue;
    border-right-color: aliceblue;
    border-bottom-color: transparent;
    border-left-color: aliceblue;
}

.zero_down {
    border-top-color: transparent;
    border-right-color: aliceblue;
    border-bottom-color: aliceblue;
    border-left-color: aliceblue;
}

.one_up {
    border-top-color:  transparent;
    border-right-color:  aliceblue;
    border-bottom-color:  transparent;
    border-left-color:  transparent;
}

.one_down {
    border-top-color: transparent;
    border-right-color:  aliceblue;
    border-bottom-color:  transparent;
    border-left-color:  transparent;
}

.two_up {
    border-top-color:  aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  transparent;
}

.two_down {
    border-top-color: aliceblue;
    border-right-color:  transparent;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.three_up {
    border-top-color:  aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  transparent;
}

.three_down {
    border-top-color: aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  transparent;
}

.four_up {
    border-top-color:  transparent;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.four_down {
    border-top-color: aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  transparent;
    border-left-color:  transparent;
}

.five_up {
    border-top-color:  aliceblue;
    border-right-color:  transparent;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.five_down {
    border-top-color: aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  transparent;
}

.six_up {
    border-top-color:  transparent;
    border-right-color:  transparent;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.six_down {
    border-top-color: aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.seven_up {
    border-top-color:  aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  transparent;
    border-left-color:  transparent;
}

.seven_down {
    border-top-color: transparent;
    border-right-color:  aliceblue;
    border-bottom-color:  transparent;
    border-left-color:  transparent;
}

.eight_up {
    border-top-color:  aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.eight_down {
    border-top-color: aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.nine_up {
    border-top-color:  aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  aliceblue;
    border-left-color:  aliceblue;
}

.nine_down {
    border-top-color: aliceblue;
    border-right-color:  aliceblue;
    border-bottom-color:  transparent;
    border-left-color:  transparent;
}


main {

}

.zone {

}

#zone_left {
    
}

#zone_right {
    
}

.player {

}

#player_left {

}

#player_right {

}

#playground {

}

#division_line {

}

#ball {

}

footer {

}

p {

}

em {

}
